html {
  font-family: Arial, Helvetica, sans-serif;

}

#card {
  width: 400px;
  padding: 10px;
  border: 1px solid grey;
  box-shadow: 5px 5px rgba(119, 101, 101, 0.3);

}

.title {
  font-weight: bold;
}

.picture {
  width: 400px;
}

#card-info {
  margin: 0px;
  padding: 10px;
  border: 1px solid grey;
}

.fact {
  font-style: italic;
  line-height: 1.6;
}

.list {
  list-style: none;
  padding: 0px
}

.label {
  font-weight: bold;
}

.interesting-paragraph {
  line-height: 1.6;
}
